[Unit]
Description=uWSGI instance to serve fact checker service (python)
After=network.target

[Service]
User=ai133
Group=www-data
WorkingDirectory=/home/ai133/factchecker
ExecStart=/home/ai133/.local/bin/uwsgi --ini /home/ai133/one-three-three-factchecker/backend/factchecker/factchecker.ini

[Install]
WantedBy=multi-user.target

